#controls {
    display: flex;
}
#grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 600px;
    width: 600px;
}   

#grid div {
    /* background-color: green;
    border-style: solid;
    border-color: black; */
    padding: 30px;
}

.mouse-over {
    background-color: black;
}

body {
    background-color: aqua;
}