#controls {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#gridSize {
    display: flex;
    justify-content: center;
}

#sizeSlider {
  display: flex;
  background: #D4AF37;
  border: solid 1px #82CFD0;
  border-radius: 8px;
  height: 7px;
  outline: none;
  accent-color: #f5f250;
}

#grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 700px;
    width: 700px;
    border-radius: 25px;
    overflow: hidden
}   

body {
    background-color: #EBE8E2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #D4AF37;
    font-family: 'Dancing Script', Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

#container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 950px;
    background-color: #EF0F0F;
    border-radius: 25px;
    border-style: outset;
    border-width: 25px;
    border-color: #EF0F0F
    
}

.header {
    font-family: 'Great Vibes', Times, serif;
    color: #D4AF37;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.slider {
    display: flex;
    flex-direction: column;
}

#rgb {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
}

#black {
    color: white;
    background-color: black;
}

.circle {
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 1000px; 
    margin: 0.5em;
}

.toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 32px;
    height: 16px;
    display: inline-block;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
  }
  
  .toggle:before {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background: #fff;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    color: #fff;
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  }
  
  .toggle:checked {
    background-color: #D4AF37;
  }
  
  .toggle:checked:before {
    left: 16px;
  }

  .switches, .choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  button {
    border-radius: 5px;
    font-family: 'Dancing Script', Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
  }

#sizeSlizer {
  background: linear-gradient(to right, #82CFD0 0%, #82CFD0 50%, #fff 50%, #fff 100%);
  border: solid 1px #82CFD0;
  border-radius: 8px;
  height: 7px;
  width: 356px;
  outline: none;
  transition: background 450ms ease-in;
}

#bottom {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
}